<footer class="fixed-bottom">

    <div class="d-flex py-4 my-4 border-top">
    <div class="container">
      <p class="text-center">&copy; 2024 AutoShop, Inc.</p>
    </div>
    </div>
</footer>