{% extends 'base.html.twig' %}

{% block title "Liste des motos"%}

{% block body %}
    <div class="col-md-12 text-center mt-5">
        <h1>404</h1>
        <h2>Page non trouvée</h2>
        <p>
            Désolé, la moto que vous cherchez n'existe pas.
        </p>
    </div>

{% endblock %}