{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle moto{% endblock %}

{% block body %}
    <h5 class="text-center">Ajout d'une nouvelle moto</h5>
    {{ form(form) }}
{% endblock %}